html, body {
    background-color: rgb(133, 32, 32);
}

div canvas {
    position: absolute;
    border-radius: 10px;
    top:30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

div {
    border-radius: 10px;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

div h2 {
    color: bisque;
    text-align: center;
    font-family: 'Fredoka One' ;
    width: auto;
}

button {
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    z-index: 2;
}